<!doctype html>
<html layout:decorator="layouts/main">
<body>
	<div layout:fragment="contentFragment">
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
					<div class="card card-signin my-5">
						<div class="card-body">
							<h5 class="card-title text-center">Sign up</h5>
							<form name="login" th:action="@{/registrate}" method="post"
								class="form-signin">
								<div id="err" th:if="${param.error}" class="alert alert-danger">Username
									or password not ok</div>
								<div th:if="${param.logout}" class="alert alert-success">Successful
									logout</div>
								<label for="username" class="sr-only">Username</label> <input
									type="text" id="username" name="username" class="form-control"
									placeholder="Username" required="true" />
									<label for="fullname" class="sr-only">Full name</label> <input
									type="text" id="fullname" name="fullname" class="form-control"
									placeholder="Full name" required="true" />
									<label
									for="password" class="sr-only">Password</label> <input
									type="password" id="password" name="password"
									class="form-control" placeholder="Password" required="true" />
									<label for="email" class="sr-only">E-mail</label> <input
									type="text" id="email" name="email" class="form-control"
									placeholder="E-mail" required="true" />
									<label for="phonenumber" class="sr-only">Phone number</label> <input
									type="text" id="phonenumber" name="phonenumber" class="form-control"
									placeholder="Phone number" required="true" />
								<div class="checkbox">
									<label> <input id="remember-me" name="remember-me"
										type="checkbox" /> Remind me
									</label>
								</div>
								<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
