<!doctype html>
<html layout:decorate="layouts/main">
<body>
	<div layout:fragment="contentFragment">
	<a th:href="@{/admin/manufacturers/new}" class="btn btn-success"><span class="glyphicon glyphicon-remove"></span> New</a>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Manufaturer</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="manufacturer : ${manufacturers}">
					<td th:text="${manufacturer.id}">Mark</td>
					<td th:text="${manufacturer.manufacturerName}">Mark</td>
					<td>
					<a th:href="@{/admin/manufacturers/{id}/enable(id=${manufacturer.id})}" class="btn btn-success"><span class="glyphicon glyphicon-remove"></span> Enable</a>
					<a th:href="@{/admin/manufacturers/{id}(id=${manufacturer.id})}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
					<a th:href="@{/admin/manufacturers/{id}/disable(id=${manufacturer.id})}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Disable</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
