<!doctype html>
<html layout:decorate="layouts/main">
<body>
	<div layout:fragment="contentFragment">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">E-mail</th>
					<th scope="col">Full name</th>
					<th scope="col">Enabled</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}">Mark</td>
					<td th:text="${user.email}">Mark</td>
					<td th:text="${user.fullname}">Mark</td>
					<td th:text="${user.enabled}">Mark</td>
					<td><a href="" th:href="@{/admin/users/{id}(id=${user.id})}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
					<a href="" th:href="@{/admin/users/{id}/delete(id=${user.id})}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Remove</a></td>
					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
